name : CI Pipeline
on:
  push:
    branches:
      - main
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        run: echo "Setting up Node.js environment"

      - name: Test pwd
        run: pwd

      - name: cd Testing
        run: cd Testing
        continue-on-error: true

      - name: if no dir make
        if: failure()
        run: mkdir Testing
  
  install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: echo "Installing project dependencies"